.DS_Store

#Mono Project Files
bin/
obj/
packages/*

#Workbench Backup Files
base/*.mwb.bak

#User Specific
*.userprefs
*.usertasks
*~
.vs/

#Installer
WinInstall/*
!WinInstall/ExtraFiles/
!WinInstall/NsisDotNetChecker/
!WinInstall/NsisDotNetChecker/bin
!*.nsi
!*.sh
