.DS_Store

#Mono Project Files
bin/
obj/
packages/*

#Workbench Backup Files
base/*.mwb.bak

#User Specific
*.userprefs
*.usertasks
*~
.vs/
*.sln.DotSettings.user
.idea/

#Doc
docs/modules/ROOT/pages/*.pdf

#Installer
WinInstall/*
!WinInstall/LC_MESSAGES/
!WinInstall/ExtraFiles/
!WinInstall/NsisDotNetChecker/
!WinInstall/NsisDotNetChecker/bin
!*.nsi
!*.sh
