[Desktop Entry]
Name=QS: Спецодежда
Comment=Программа учёта спецодежды, выдаваемой сотрудникам предприятия
Exec=/usr/bin/qs-workwear
Icon=qs-workwear
Type=Application
Categories=Office;

