[Desktop Entry]
Name=QS: Спецодежда
Comment=Программа учёта спецодежды, выдаваемой сотрудникам предприятия
Exec=/usr/bin/workwear
Icon=workwear
Type=Application
Categories=Office;

