<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile" xsi:type="File" fileName="${specialfolder:dir=workwear:file=workwear.log:folder=LocalApplicationData}" 
			deleteOldFileOnStartup="True" encoding="utf-8"
        	layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
        <target name="EmployeeProcessing" xsi:type="File" fileName="${specialfolder:dir=workwear:file=EmployeeProcessing.log:folder=LocalApplicationData}" 
			encoding="utf-8"
        	layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target name="console" xsi:type="Console" 
        	layout="${date:format=HH\:MM\:ss.ffff} ${logger} ${message} ${onexception:${newline}${exception:format=tostring}}" />
    </targets>
    <rules>
        <logger name="NHibernate.*" minlevel="debug" final="true" ruleName="HideNhibernate" enabled="true" />
		<logger name="*" minlevel="debug" writeTo="logfile" />
        <logger name="*" minlevel="debug" writeTo="console" />
		<logger name="EmployeeProcessing" minlevel="info" writeTo="EmployeeProcessing" />
		<!--Добавлено чтобы сообщения от NHibernate с уровнем info не попадали в строку состояния-->	
		<logger name="NHibernate.*" final="true" />
    </rules>
</nlog>
